anyio
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
Babel
backcall
beautifulsoup4
bleach
brotlipy==0.7.0
certifi
cffi
charset-normalizer
click==8.1.3
cloudpickle==2.2.0
colorama
cryptography
cycler==0.11.0
debugpy
decorator
defusedxml
entrypoints
executing
fastjsonschema
fonttools==4.34.4
future==0.18.2
hyperopt==0.2.7
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib==1.1.0
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kiwisolver==1.4.4
MarkupSafe
matplotlib==3.5.3
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx==2.8.7
nltk==3.7
notebook
numpy==1.23.2
packaging
pandas==1.4.3
pandocfilters
parso
pickleshare
Pillow==9.2.0
ply==3.11
prometheus-client
prompt-toolkit
pure-eval
py4j==0.10.9.7
pycparser
Pygments
pyOpenSSL
pyparsing
PyQt5==5.15.7
PyQt5-sip
pyrsistent
PySocks
python-dateutil
pytz
pywin32==302
pywinpty
pyzmq
qtconsole
QtPy
regex==2022.7.25
requests
scikit-learn==1.1.2
scipy==1.9.0
Send2Trash
sip
six
sklearn==0.0
sniffio
soupsieve
stack-data
tabulate==0.8.10
terminado
testpath
threadpoolctl==3.1.0
toml
tornado
tqdm==4.64.0
traitlets
typing_extensions
urllib3
wcwidth
webencodings==0.5.1
websocket-client
widgetsnbextension
win-inet-pton
wincertstore==0.2
wordcloud==1.8.2.2
streamlit
