Flask
gunicorn
itsdangerous
Jinja2
MarkupSafe
Werkzeug
numpy
scipy
scikit-learn
matplotlib
pandas
streamlit
wordcloud
hyperopt
nltk
sklearn
sentence-transformers
torch==1.11.0+cpu
torchvision==0.12.0+cpu
