Flask
gunicorn
itsdangerous
Jinja2
MarkupSafe
Werkzeug
numpy
scipy
scikit-learn
matplotlib
pandas
streamlit
wordcloud
hyperopt
nltk
sklearn
sentence-transformers
torch==1.8.1+cpu 
torchvision==0.9.1+cpu
